<p id="notice"><%= notice %></p>

<table class="table table-bordered">

    <thead>
        <tr>
          <th scope="col"> First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Date of birth</th>
          <th scope="col">Books</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><%= @author.first_name %></td>
            <td><%= @author.last_name%></td>
            <td><%= @author.date_of_birth%></td>
            <td> 
                <% @books.each do |book| %> 
                <%= book.book_title %>
                <% end %>
            </td>
            <td><button class="btn btn-warning"><%= link_to 'Edit', edit_author_path(@author) %></button>
            <button class="btn btn-danger"> <%= link_to 'Back', authors_path %></button></td>
          </tr>
      </tbody>

    
</table>

 

